html, body{
	width: 100%;
	height:100%;
	z-index: 0;
}

.skrollr-container{
	width: 100%;
	height:100%;
	overflow:hidden;
}

.sections{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	margin: 0;

}

.section{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.next {
	position: absolute;
	bottom: 10px;
	right: 2%;
	z-index: 100;
	color: white;
	font-family: times;
	font-size: 3.5em;
}
	

#helper{
	/*display:none;*/
	position:absolute;
	left:0;
	top:0;
	height:1100%;
	width:20px;
	margin:0;
}

.marker{
	width:100%;
	height:10%;
	border: 2px solid white;
	font-family: helvetica;
	font-size: 6em;
	background-color: red;
}





